* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.road {
  background: url(../images/road.jpg);
}

.car {
  scale: 0.8;
  animation: move 2s ease 0s infinite;
}

@keyframes move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(350%);
  }
}
