@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --placeholder-color: #999;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Global */

.logo-size {
  width: 126px;
}

.fsize-sm {
  font-size: 13px;
}

/*  */

/* Custom */

nav .dropdown-menu {
  height: 90vh;
}

.dropdown::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 25px;
  background-color: var(--placeholder-color);
  top: 15%;
}

.search-container input {
  outline: 0;
}

.search-container input::placeholder {
  color: var(--placeholder-color);
  font-size: 13px;
}
